<div>
  <h4>Form-Based Registration</h4>
  <input type="checkbox"/><span class="content">All users to register to the system</span>
  <p class="notice">If you disable this, users will only ...</p>
  <input type="checkbox"/><span class="content">New registed users</span>
  <p class="notice">If you disable this, users will only ...</p>
  <input type="checkbox"/><span class="content">Use security image ...</span>
</div>
<br>
<div>
  <h4>Session Timeout Content</h4>
  <input type="checkbox"/><span class="content">Session Time Out ...</span><br>
  <div>Timeout Second</div>
  <input type="text" class="form-control">
  <div>Countdown Modal Wait Time</div>
  <input type="text" class="form-control">
</div>
<br>
<div>
  <h4>Other Settings</h4>
  <input type="checkbox"/><span class="content">Email confirmation...</span>
</div>
<br>
<div>
  <h4>Cookie Consent</h4>
  <input type="checkbox"/><span class="content">Cookie consent enable ...</span>
</div>
