.btn{
  width: 8em;
}

th, td{
  text-align: center;
}

table{
  width: 98%;
}

.thead{
  background-color: #dbdbdb;
}

.btn-search{
  margin-left: 1.6em;
}

.mapping_name{
  text-align: left;
}

img{
  width:2em;
  margin-top: -1em;
  border-radius: 20px;
}

.ExecUser{
  text-align: left;
  line-height:  1.2em;
  display: inline-block;
  margin:  -0.5em 0em 0em 1em;
}
