<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <h4>Search information</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h5>Report Date</h5>
      <input type="date" class="form-control"/>
    </div>
    <div class="col-3">
      <h5>Term</h5>
      <select name="type" id="type" class="form-control">
        <option value="all">All</option>
      </select>
    </div>
    <div class="col-3">
      <h5>From Date</h5>
      <input type="date" class="form-control"/>
    </div>
    <div class="col-3">
      <h5>From Date</h5>
      <input type="date" class="form-control"/>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3">
      <h5>CustomerID</h5>
      <select name="type" id="type" class="form-control">
        <option value="choose">Choose</option>
      </select>
    </div>
    <div class="col-3">
      <h5>Customer Name</h5>
      <select name="type" id="type" class="form-control">
        <option value="choose">Choose</option>
      </select>
    </div>
    <div class="col-3">
      <h5>Status</h5>
      <select name="type" id="type" class="form-control">
        <option value="all">All</option>
      </select>
    </div>
    <div class="col-3">
      <br>
      <button type="button" class="btn btn-primary btn-search">Search</button>
    </div>
  </div>
  <br> <br>
  <div class="row justify-content-end">
  <div class="col-6" style="padding-left: 5em;">
    <button type="button" class="btn btn-primary">Send Mail</button>
    <button type="button" class="btn btn-primary">Download</button>
    <button type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary">Create</button>
  </div>
  </div>
  <br> <br>
  <div class="row">
    <div class="col">
      <h4>Report list(7)</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead  class="thead">
          <tr>
            <th scope="col" style="width:1%"><input type="checkbox"></th>
            <th scope="col" style="width:10%">Code</th>
            <th scope="col" style="width:30%">Report Name</th>
            <th scope="col" style="width:10%">Date</th>
            <th scope="col" style="width:10%">Status</th>
            <th scope="col" style="width:20%">Creator</th>
            <th scope="col" style="width:20%">Execution User</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox"></th>
            <td>0001</td>
            <td class="mapping_name"><a href="">Report 0001</a></td>
            <td>15/01/2022</td>
            <td>Created</td>
            <td>
              <img src="../../../../assets/img/icons/common/avatar.jpg">
              <div class="ExecUser">
              <span>
                System
              </span><br>
              <span>
                <h6>5 hours ago</h6>
              </span>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
