.btn{
  width: 10em;
}

.btn-control{
  background-color: #dbdbdb;
}

.pagination-area{
  margin-top: 1em;
  float: left;
}

img{
  width:4em;
}

.user-info{
  display: inline-block;
  margin-left: 2em;
}

.page-title{
  border-right: 0.1em solid white;
}

.input-info{
  width:100%;
  height: 2.7em;
  border: 1px solid grey;
}

.btn-primary{
  margin-top: -0.2em;
}

.keyword{
  display: inline-flex;
}


.entries{
  margin-top: 1em;
}

.table-responsive{
  margin-top: 1em;
}

.button-area{
  margin-top: 1em;
}

.foot-content{
  margin-top: 1em;
}

.form-control{
  margin-left: -1em;
}

.organize{
  width:97%;
}

#status{
  margin-left: 0.1em;
}

table{
  width:100%;
}


.action-col{
  width:10%;
}

.code-col{
  width: 10%;
}

.name-col{
  width: 25%;
}

.table-name-col{
  width: 25%;
}

.field-key-col{
  width: 10%;
}

.field-order-col{
  width: 10%;
}

.report{
  margin-left: 1em;
}

.date{
  margin-left: 1em;
}

#quantity{
  width: 5em;
  margin-left: 0.1em;
  display: inline-flex;
}

.choose-quantity{
  margin-top: 1em;
}

a{
  cursor: pointer;
}

.title-footer{
  height: 0.2em;
  width: 5em;
  background-color: #dbdbdb;
}

#user-footer{
  width: 80%;
  margin-left: 16%;
}

#security-footer{
  width: 5.5em;
  margin-left: 28%;
}

#email-footer{
  width: 6em;
  margin-left: 25%;
}

#system-setting-footer{
  width: 8em;
  margin-left: 17%;
}

.title-footer-area{
  display: inline-flex;
}

.content{
  padding-left: 0.5em;
}

#user-title{
  padding-left: 2em;
}

#header{
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
}

.col-xl-2{
  text-align: center;
}
