<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-2 col-7 page-title">
          <h6 class=" h2 text-white d-inline-block mb-0">Define Data Editor</h6>
        </div>
        <div class=" col-lg-3 col-7">
          <h6 class=" h3 text-white d-inline-block mb-0">Define data editor details</h6>
        </div>
      </div>
    </div>
  </div>
</div>



<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-footer py-4">
          <div class=" row">
            <div class=" col-xl-12 col-md-3">

                <div class=" card-body">
                  <div class=" row">
                    <div class=" col-xl-12">
                      <div class="col-sm-12 keyword">
                        <input type="text" class="form-control search" placeholder="Search">
                        <button class="btn btn-primary btn-search">Search</button>
                      </div>
                    </div>

                  </div>
                </div>

            </div>
          </div>
          <div class=" table-responsive">
            <table class=" table align-items-center table-flush table-hover">
              <thead class=" thead-light">
                <tr>

                  <th class="action-col">Action</th>

                  <th class="code-col">Code</th>

                  <th class="name-col">Name</th>

                  <th class="table-name-col">Table name</th>

                  <th class="field-key-col">Field Key</th>

                  <th class="field-order-col">Field order</th>

                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><span class=" text-muted action-col">
                    <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                      <button id="button-basic" dropdownToggle type="button"
                         class="btn btn-primary dropdown-toggle"
                         aria-controls="dropdown-basic"><i class="ni ni-settings"></i>&nbsp;
                         Action <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                         role="menu" aria-labelledby="button-basic">
                         <li role="menuitem"><a class="dropdown-item" href="#">File</a></li>
                         <li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>
                         <li role="menuitem"><a class="dropdown-item" href="#">Search</a></li>
                         <li class="divider dropdown-divider"></li>
                         <li role="menuitem"><a class="dropdown-item" href="#">Recents</a>
                         </li>
                      </ul>
                   </div>
                  </span></td>

                  <td><span class=" text-muted code-col">MKR_MATRIXRATE </span></td>

                  <td><span class=" text-muted name-col"> CIR41:... </span></td>

                  <td><span class=" text-muted table-name-col">FIN_CIR41...</span></td>

                  <td><span class=" text-muted field-key-col">ID</span></td>

                  <td><span class=" text-muted field-order-col">0</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="foot-content">
            Showing 1 to 7 of 7 entries &nbsp;
            <span class="entries">
              Show
              <select name="quantity" id="quantity" class="form-control">
                <option value="10">10</option>
              </select>
              entries
            </span>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
