.btn{
  width: 10em;
}

.btn-control{
  background-color: #dbdbdb;
}

.pagination{
  margin-top: 1em;
}

img{
  width:4em;
}

.user-info{
  display: inline-block;
  margin-left: 2em;
}

.page-title{
  border-right: 0.1em solid white;
}

.input-info{
  width:100%;
  height: 2.7em;
  border: 1px solid grey;
}

.btn-primary{
  margin-top: -0.2em;
}

.keyword{
  display: inline-flex;
}


.entries{
  margin-top: 1em;
}

.table-responsive{
  margin-top: 1em;
}

.button-area{
  margin-top: 1em;
}

.foot-content{
  margin-top: 1em;
}

.form-control{
  margin-left: -1em;
}

.organize{
  width:97%;
}

#status{
  margin-left: 0.1em;
}

table{
  width:100%;
}

.check-col{
  width:5%;
}

.batch-col{
  width:25%;
}

.org-col{
  width: 5%;
}

.date-col{
  width: 5%;
}

.status-col{
  width: 5%;
}

.message-col{
  width: 30%;
}

.duration-col{
  width: 10%;
}

.user-col{
  width: 25%;
}

.report{
  margin-left: 1em;
}

.date{
  margin-left: 1em;
}

#quantity{
  margin-left: 0.1em;
  display: inline-flex;
  width: 5.2em;
  height: 5vh;
  font-size: 0.7em;
}

.choose-quantity{
  margin-top: 1em;
  display: inline-flex;
}

.filter-collapse{
  float: right;
  margin-top: 0.5em;
  margin-right: 2em;
  display:  inline-flex;
}

.toggle-filter{
  float: right;
  display:  inline-flex;
  margin-right: 2.6em;
}

table{
  width:96.4%;
  text-align: center;
}
