<div>
  <h4>Password complexity</h4>
  <input type="checkbox"/><span class="content">Use default settings</span><br>
  <input type="checkbox"/><span class="content">Require digit</span><br>
  <input type="checkbox"/><span class="content">Require lowercase</span><br>
  <input type="checkbox"/><span class="content">Require non-alphanumeric</span><br>
  <input type="checkbox"/><span class="content">Require uppercase</span><br><br>
  <div>
    <span>Require length</span>
  </div>
  <input type="text" class="form-control">
</div>
<br>
<div>
  <h4>User Lock Out</h4>
  <input type="checkbox"/><span class="content">Enable user account locking on failed login attempts</span>
</div>
<br>
<div>
  <h4>Two Factor Login</h4>
  <input type="checkbox"/><span class="content">Enable two factor user login</span><br>
  <input type="checkbox"/><span class="content">Enable email verification</span><br>
  <input type="checkbox"/><span class="content">Enable SMS verification</span><br>
  <input type="checkbox"/><span class="content">Enable Google Authenticator</span><br>
  <input type="checkbox"/><span class="content">Allow to remember browser. If you allow this, users can select to remember browser to skip second time two factor login for the same browser.</span><br>
</div>
