<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class="col-2 page-title">
          <h6 class=" h2 text-white d-inline-block mb-0">Dashboard</h6>
        </div>
        <div class="col-2">
          <h6 class=" h3 text-white d-inline-block mb-0">statisics and reports</h6>
        </div>
      </div>

      <div class=" row">
        <div class=" col-xl-4 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <span class=" h2 font-weight-bold mb-0"> Total import files </span>
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Total import files
                  </h5>
                </div>

                <div class=" col-auto">
                  <div>
                  <h4 class="number-displayed" id="import">35</h4>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class=" mt-3 mb-0 text-sm complete">
                <span class=" text-nowrap"> Completed </span>
                <span class=" text-nowrap quantity"> 0 </span>
              </div>
            </div>
          </div>
        </div>

        <div class=" col-xl-4 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <span class=" h2 font-weight-bold mb-0"> Total batch processes </span>
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                   Total batch processes
                  </h5>
                </div>
                <div class=" col-auto">
                  <div>
                   <h4 class="number-displayed" id="batch">19</h4>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class=" mt-3 mb-0 text-sm complete">
                <span class=" text-nowrap"> Completed </span>
                <span class=" text-nowrap quantity"> 1 </span>
              </p>
            </div>
          </div>
        </div>

        <div class=" col-xl-4 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <span class=" h2 font-weight-bold mb-0">  Total reports </span>
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Total reports
                  </h5>
                </div>
                <div class=" col-auto">
                  <div>
                    <h4 class="number-displayed" id="report">211</h4>
                  </div>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class=" mt-3 mb-0 text-sm complete">
                <span class=" text-nowrap"> Completed </span>
                <span class=" text-nowrap quantity"> 0 </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-xl-6">
      <div class=" card">
        <div class=" card-header border-0">
          <div class=" row align-items-center">
            <div class=" col"><h3 class=" mb-0">Member activity</h3></div>

            <div class=" col text-right">
              <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                Refresh
              </a>
            </div>
          </div>
        </div>

        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
              <tr>
                <td class="image-area">
                  <img src="#"/>
                  <h5>null</h5>
                </td>
                <td>
                 <h4>Create report</h4>
                 <p class="content">Content</p>
                 <h5>9 hours ago</h5>
                </td>
              </tr>

              <tr>
                <td class="image-area">
                  <img src="#"/>
                  <h5>null</h5>
                </td>
                <td>
                  <h4>Create report</h4>
                  <p class="content">Content</p>
                  <h5>9 hours ago</h5>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>

    <div class=" col-xl-6">
      <div class=" card">
        <div class=" card-header border-0">
          <div class=" row align-items-center">
            <div class=" col"><h3 class=" mb-0">Deadline</h3></div>

            <div class=" col text-right">
              <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                Refresh
              </a>
            </div>
          </div>
        </div>

        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
              <tr class="deadline-content-area">
                <p>...</p>
              </tr>
              <tr class="deadline-content-area">
                <p>...</p>
              </tr>
              <tr class="deadline-content-area">
                <p>...</p>
              </tr>
              <tr class="deadline-content-area">
                <p>...</p>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
