.content{
  margin-left: 1em;
  font-weight: 600;
}
.notice{
  margin-left: 0.2em;
  font-size: 0.9em;
}

h4{
  font-weight: bold;
}

.form-control{
  width: 90%;
}

.title{
  font-weight: 600;
}

.date-format{
  display: inline-flex;
}

.main-format{
  display: inline-flex;
}

.format{
  width: 30em;
}

.endpoint{
  width: 60em;
}

#endpoint-input{
  width: 95%;
}

#report-url{
  width: 99.5em;
}
