<div>
  <h4>Self review</h4>
  <input type="checkbox"/><span class="content">Allow self-review</span>
  <span class="notice">Make sure that there is another admin user (have review permission) if you want to remove this setting</span><br>
</div>
<br>
<div>
  <div class="date-format">
  <h4>Date format</h4><span>&nbsp;(Supported format)</span>
  </div><br>
  <div class="main-format">
      <div class="format">
          <div>
              <span class="title">Date format</span>
          </div>
          <input type="text" class="form-control" placeholder="DD/MM/YYYY">
      </div>
      <div class="format">
          <div>
              <span class="title">Date time format</span>
          </div>
          <input type="text" class="form-control" placeholder="DD/MM/YYYY hh:mm:ss a">
      </div>
  </div>
</div>
<br>
<div>
  <h4>Report Server Settings</h4>
  <div>
      <div>
          <span class="title">Report Server Url</span>
      </div>
      <input type="text" class="form-control" id="report-url">
  </div><br>
  <div class="main-format">
      <div class="format endpoint">
          <div>
              <span class="title">Endpoint address</span>
          </div>
          <input type="text" class="form-control" id="endpoint-input">
      </div>
      <div class="format">
          <div>
              <span class="title">Report folder</span>
          </div>
          <input type="text" class="form-control">
      </div>
  </div><br><br>
  <div class="main-format">
      <div class="format">
          <div>
              <span class="title">Username</span>
          </div>
          <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="format">
          <div>
              <span class="title">Password</span>
          </div>
          <input type="password" class="form-control" placeholder="password">
      </div>
      <div class="format">
          <div>
              <span class="title">Domain</span>
          </div>
          <input type="text" class="form-control" placeholder="Domain">
      </div>
  </div>
</div>
<br>
<div>
  <h4>Folder Settings</h4>
  <p>System root folder</p>
</div>
